* {
    background: #eee;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

nav {
    padding: 30px;
}

nav a {
    font-weight: bold;
    color: #2c3e50;
}

nav a.router-link-exact-active {
    color: #42b983;
}

input {
    padding: 15px;
    width: 400px;
    border: 2px solid #42b983;
    border-radius: 5px;
    background: #fff;
}

ul {
    width: 440px;
    position: relative;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

li {
    width: 100%;
    padding: 10px 0 10px 0;
    border: none;
    display: flex;
    margin: 20px 35px 0 0;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
    background: #fff;
}

li span {
    flex-grow: 1;
    background: #fff;
}

li button {
    border: none;
    background: none;
    cursor: pointer;
    color: #42b983;
}

.nothing {
    margin-top: 20px;
}

.done {
    text-decoration: line-through;
}


/* list animation */

.list-leave-to,
.list-enter-from {
    opacity: 0;
    transform: scale(0.6);
}

.list-enter-active {
    transition: all 0.4s ease;
}

.list-leave-active {
    transition: all 0.4s ease;
    position: absolute;
}

.list-move {
    transition: all 0.3s ease;
}


/* switch animation */

.switch-enter-from,
.switch-leave-to {
    opacity: 0;
    transform: translateY(20px);
}

.switch-enter-active,
.switch-leave-active {
    transition: all 0.5s ease;
}


/* make it responsive */

@media (max-width: 560px) {
    input {
        width: 300px;
    }
    ul {
        width: 340px;
    }
}

@media (max-width: 400px) {
    input {
        width: 200px;
    }
    ul {
        width: 240px;
    }
}